body {
    font-family: 'Montserrat', sans-serif;
}
header {
    height: 967px;
background-image: url(../img/header-back.jpg);
background-repeat: no-repeat;
background-position: center;
}
header div.menu {

    height: 134px;
    background: rgba(0,0,0.4);
}

header div.menu img {
    display: block;
  
    padding-top: 50px;
    padding-left: 100px;

}

header div.menu a img {
    display: block;
    padding-top: 50px;  
    padding-left: 100px;


}
header nav ul {
   
    list-style-type: none;
    padding-right: 50px;
    margin :0;
  
  

}
header nav ul li {

    display: inline-block;
    margin-right: 50px;
    color: white;

}

a {

    color: white;
}

header div.menu a {
 text-align: right;


}

header nav ul li a {
  
    font-size: 18px;
   color: white;
   text-decoration: none;


}
header nav ul li a:hover {

   color: #39b9ef;
   text-decoration: underline;

}

header div.call-to h1 {

    margin-top: 250px;
    text-align: center;
    color: white;
    font-size: 72px;
    font-weight: bold;
}

header div.call-to h1 span {

color: #2ebaee;

}

header div.call-to p {
color:white;
font-size: 24px;
text-align: center;


}